<!-- Navbar -->
<div class="navbar">
    <h2>SHOPKART</h2>
    <nav>
        <a href="/user/homepage">HOME</a>
        <a href="/productdetails">PRODUCTS</a>
        <a href="/cart/view">CART</a>
        
    </nav>
</div>